* {
  margin: 0px;
  padding: 0px; }

html {
  background: #3f4c6b; }

.contenedor {
  width: auto; }

.main_resp {
  width: 68%; }

.header__logo {
  margin: auto;
  display: block;
  width: 28%;
  height: 40%;
  padding: 2%; }

.header__nav {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  background: #1e2330; }

.header__nav__links {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-right: 75px;
  margin-left: 75px; }

.header__nav__links:hover {
  color: #20207e; }

.image__section {
  float: left;
  display: block;
  margin-right: 25px;
  margin-top: 36px;
  width: 32%; }

section {
  margin-left: 25px;
  margin-right: 25px;
  padding: 26px;
  padding-top: 10px;
  background: rgba(67, 70, 77, 0.842); }

.principal__titulo {
  position: center;
  color: black;
  font-family: 'Verdana', sans-serif;
  width: 60%; }

.principal__parrafo {
  margin-top: 10px;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  color: black;
  font-family: 'Verdana', sans-serif;
  width: 85%; }

footer {
  margin-top: 20px;
  text-align: center;
  background: #36383b;
  font-family: 'Courier New', Courier, monospace; }

.footer__links {
  padding-top: 20px;
  text-decoration: none;
  color: #a5a5a5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-bottom: 8px; }

.footer__margin {
  margin-right: 32px;
  align-items: center; }

/*
  footer franz: link a index
  */
.footer__franz {
  text-decoration: none;
  font-weight: 500;
  color: black;
  text-align: center; }

.image__servicios {
  float: left;
  display: block;
  margin-right: 25px;
  margin-top: 70px; }

.servicios__titulo {
  margin-top: 40px;
  position: center;
  color: black;
  font-family: 'Verdana', sans-serif;
  margin-left: 100px;
  width: 40%; }

.trabajos__titulo {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-family: 'Verdana', sans-serif; }

.servicios__parrafo {
  margin-top: 20px;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
  color: black;
  font-family: 'Verdana', sans-serif;
  width: 100%; }

.image__servicios2 {
  float: right;
  display: block;
  margin-right: 25px;
  margin-top: 36px;
  width: 40%; }

.gridservicios {
  display: grid;
  grid-template-columns: 660px 660px;
  grid-template-rows: 260px 260px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  margin: 0 auto;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
  width: 100%; }

.gridtrabajos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%; }

.gridbackline {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.grid-container {
  display: grid;
  background-color: rgba(49, 49, 49, 0.596);
  grid-template-columns: 500px 300px 300px;
  grid-template-rows: 188px 188px;
  margin-left: 40px;
  margin-right: 40px; }

.grid-container div {
  background-color: rgba(49, 49, 49, 0.555);
  border: 1px solid black;
  margin-left: 80px;
  margin-top: 8px; }

.item1 {
  grid-row: 1 / 3; }

.fotoytexto {
  margin: auto; }

.section__class {
  margin-right: 0px;
  height: 200px;
  width: 580px;
  margin-bottom: 10px; }

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc; }

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block; }

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000; }

form input[type="submit"]:hover {
  cursor: pointer; }

textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block; }

@media screen and (max-width: 850px) {
  .gridservicios {
    grid-template-columns: 660px;
    grid-template-rows: 260px 260px 260px 260px; }
  .header__nav {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 3; }
  .header__nav__links {
    margin-right: 20px;
    margin-left: 20px; } }
