header .header__logo {
  margin: auto;
  display: block;
  width: 28%;
  height: 40%;
  padding: 2%; }
  header .header__logo .header__nav {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    background: #1e2330; }
    header .header__logo .header__nav .header__nav__links {
      text-decoration: none;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      margin-right: 75px;
      margin-left: 75px; }
      header .header__logo .header__nav .header__nav__links .header__nav__links:hover {
        color: #20207e; }
